* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #112F41;
    }



.logoBig {
    padding-top: 35px;
    display: block;
    width: 50%;
    margin: auto;
}

.logoMedium {
    display: block;
    width: 30%;
    margin: auto;
    padding-top: 30px;
}

.logoSmall {
    background-image: url(../images/logo_groot.png);
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-size: 3.2em;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight:900;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: -20px;
}

a {
    text-decoration: none;
    color: #112F41;
    font-weight: 900;
}

a.blue {
    color: #068587;
}

.noMember{
    margin-top: 5px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

label.input {
    padding-top: 20px;
    display: block;
    font-weight: 900;
    margin-left: 20px;
}

input.field {
    border: 5px solid #112F41;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

input.btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #4FB970;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 50%;
}

.checkboxContainer {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.tip {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}


div.create {
    background-color: #ED563B;
    width: 65%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

div.create p {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
    font-weight: 900;
}

.button {
    width: 65%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.button p{
    text-align: center;
    font-weight: 900;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-space {
    margin-top: 30px;
}

.create-space p {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}

.create-space a {
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.location,.plus {
    width: 30%;
}
.button--yellow {
    background-color: #F2AF36;
}

.button--green {
    background-color: #068587;
}

.field--small {
    width: 60%;
}

.link--big {
    display: block;
    border: 5px solid #112F41;
    border-radius: 20px;
    padding: 25px 0px 25px 0px;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* css for nav */

.navbar {
    display: none;
}
.navbar:target {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2em;
  position: absolute;
  top: 0;
  left: 0;
  background: #112F41;
  width:200px;
}
.navbar a{
    margin-top: 10px;
    color: #fff;
}
.navbar .navbar__logout {
    margin-top: 150px;
}
.access_aid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #fff;
}
.access_aid {
    background: white 10px 10px / 20px 20px no-repeat;
}

#access_nav {
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}