* {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #112F41;
    }

button {
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #4FB970;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #112F41;
    cursor: pointer;
}
/* 
button:hover {
    top:2px; left: 2px;
    
} */

.logoBig {
    padding-top: 35px;
    display: block;
    width: 50%;
    margin: auto;
}

.logoMedium {
    display: block;
    width: 30%;
    margin: auto;
    padding-top: 30px;
}

.logoSmall {
    background-image: url(../images/logo_groot.png);
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-size: 3.2em;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight:900;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: -20px;
}

h4 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #112F41;
    font-weight: 900;
}

a.blue {
    color: #068587;
}

.noMember{
    margin-top: 5px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

label.input {
    padding-top: 20px;
    display: block;
    font-weight: 900;
    margin-left: 20px;
}

input.field {
    border: 5px solid #112F41;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
}

a.btn, input.btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #4FB970;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 50%;
}

a.btn--delete{
    background-color: #ED563B; 
}

.checkboxContainer {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.tip {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}


div.create {
    background-color: #ED563B;
    width: 65%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

div.create a {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
    font-weight: 900;
}

.button {
    width: 65%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.button a {
    display: block;
    font-weight: 900;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.large-container {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.large-container p {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}

.large-container a {
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}

.location,.plus {
    width: 30%;
}

.location-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    grid-gap: 10px;
}
.afval-active{
	border: 5px solid green;
	border-radius: 100%;
}
.location-grid div {
    justify-self: center;
}

.location-grid div img {
    cursor: hand;
    cursor: pointer;
}

.location-grid p {
    font-size: 14px;
}

.single-location {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.space-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members {
    display: flex;
}

.members a div {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* border: 3px solid #112F41; */
    margin-left: -20px;
    background: #dddddd;
    position: relative;
}

a div[data-member='1'] {
    margin-left: 0;
    z-index: 5;
    background-image: url(../images/avatar1.svg);
}

a div[data-member='2'] {
    z-index: 4;
    background-image: url(../images/avatar2.svg);
}

a div[data-member='3'] {
    z-index: 3;
    background-image: url(../images/avatar3.svg);
}

a div[data-member='4'] {
    z-index: 2;
    display: flex;
    justify-content: center;
    background-image: url(../images/avatar4.svg);
}

.large-container p.title-left {
    text-align: left;
}

.space-problems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.space-problems div {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* border: 3px solid #112F41; */
    /* margin: 7px; */
    position: relative;
}

.space-problems div img {
    /* max-width: 100%; */
    width: 40px;
    height: 40px;
}

.space-problems div p {
    font-size: 12px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
}

div.make-problem {
    background-image: url(../images/plus.svg);
    background-position: center;
    background-size: cover;
    border: none;
    height: 40px;
    width: 40px;
}

div.adjust {
    margin-top: -4px;
}

/* backgroundimage volgens data attr, zo kan je met php de juiste erin zetten */


.member-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.members {
    flex-wrap: wrap;
}

.add-issue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue-sorts {
    display: flex;
}

.issue-sorts a {
    margin: 10px;
    display: block;
    position: relative;
}
/* .issue-sorts a:link {
}
.issue-sorts a:visited {
}
.issue-sorts a:hover {
	
} */
/* .issue-sorts a:active {
   
    border-bottom: 1Opx solid #068587;
} */

textarea.field {
    border: 5px solid #112F41;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
}

.description {
    margin-top: 20px;
    border: 5px solid #112F41;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: white;
}

.badges {
    display: flex;
    justify-content: space-around;
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: center;
}

.badge span {
    margin-left: 10px;
    margin-right: 10px;    
    font-weight: 900;
    font-size: 20px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.button--yellow {
    background-color: #F2AF36;
}

.button--green {
    background-color: #068587;
}

input.field--small {
    width: 100%;
}

input.field--mini {
    width: 100px;
    margin-left: 50px;
}

.field--big {
    min-height: 300px;
}

.form--big {
    width: 80%;
}

.link--big {
    display: block;
    border: 5px solid #112F41;
    border-radius: 20px;
    padding: 25px 0px 25px 0px;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

label.input--small {
    margin-left: 70px;
}


input:focus, button:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}
/* loading gif */
#loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    z-index: 9999;
}
#loading img
{
    display: flex;
    align-content: center;
    justify-content: center;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* locations */
.myLocations {
    padding-top: 20px;
}
.list-container{
    width: 65%;
    margin: auto;
}
.list-items{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
ul{
    padding-left: 0;
}
.location-list{
    display: flex;
    align-items: center;
    margin: 7px 0;
    width: 250px;
}
.location-icon {
    width: 55px;
}
a.spaceName, span.spaceName {
    margin-left: 18%;
    text-align: left;
}

.badge img {
    width: 60px;
}

/* css for nav */
header{
    background:#ffffff; 
    height:60px; 
    border-bottom:1px solid #dddddd;
    display:inline-block; 
    width:100%; 
    border: none;
    margin-top: 1px;
}

#navToggle {
    width: 47px;
    position: absolute;
    margin: 10px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #navToggle span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #112F41;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #navToggle span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #navToggle span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #navToggle span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #navToggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 7px;
  }
  
  #navToggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #navToggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 30px;
    left: 7px;
  }
  
  .menu{
    z-index:1000000;  display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2.5em;
    position: absolute;
    top: 60px;
    left: 0;
    background: #112F41;
    height: 70%;
    width:100%;}
  .menu ul {padding-inline-start: 20px; list-style-type: none; list-style-image: none; width: 100%;}
  .menu li {display: block;   margin: 0; padding:10px 15px 10px 15px; margin-right: 20px;}
  .menu li:hover{display: block;  color:#112F41; border-radius:25px; background:#ffffff;}
  .menu ul li a { text-decoration:none;  color:#fff;}
  .menu a{text-decoration:none; color:#fff;}
  .menu a:hover{text-decoration:none; color:#fff;}
  .menu .menu__logout {margin-top: 150px;}

@media (min-width: 900px) {
    /* body {
        background: red;
    } */

    .logoBig {
        width: 25%;
    }
    
    .logoMedium {
        margin-top: -30px;
        width: 15%;
    }

    .large-container {
        margin-left: auto;
        margin-right: auto;
        min-height: 400px;
        max-height: 100%;
        max-width: 40%;
        background: #F5F5F5;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .tip {
        margin-top: 0px;
    }

    h2 {
        font-size: 1.7em;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    h3 {
        font-size: 1.3em;
        margin-top: 0;
    }

    .large-container p {
        font-size: 16px;
        margin-top: 10px;
    }

    div.create {
        margin-top: 20px;
    }

    div.create a, .button a {
        font-size: 1.6em;
    }

    .link--big {
        padding: 15px 0px 15px 0px;
    }

    #navToggle {
        width: 47px;
        margin: 5px;  
    }

    input.field {
        font-size: 16px;
        padding: 5px 20px;
    }

    label.input {
        padding-top: 10px;
        font-size: 14px;
    }

    button, a.btn, input.btn {
        margin-top: 20px;
        font-size: 16px;
    }

    .join {
        margin-top: 0px;
    }

    .location-grid {
        margin-top: 0;
    }

    .large-container p.title-left {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .issue-sorts img {
        width: 60px;
    }
    .members a div {
        height: 40px;
        width: 40px;
    }

    .space-logo {
        width: 60px;
        height: 60px;
    }
}